.menuLinks{
    background: white;
    border: 1px solid #D3D3D3;
    border-radius: 5px;
    width: 123%;
}
:global(.vtex-account_menu-link){
    border-bottom: 1px solid #D3D3D3;
    padding: 22px 17px;
    margin: 0;
}
.boxContainerBody{
    background: white;
}
.boxContainer{
    background-color: white;
}
.dataEntryLabel{
    font-weight: 700;
    font-size: 17px;
    line-height: 15px;
    color: #363636;
}
@media (max-width: 700px) {
    .menuLinks{
        width: 100%;
    }
    .menu {
        padding: 25px 15px;
    }
    .userInfo {
        justify-content: flex-start !important;
    }
}
:global(.vtex-my-orders-app-3-x-productName){
    color: #182841;
    text-decoration: none;
}
:global(.vtex-my-orders-app-3-x-productImage){
    width: 41%;
}
:global(.vtex-my-orders-app-3-x-productQuantity){
    vertical-align: middle;
    text-align: center;
}
:global(.vtex-my-orders-app-3-x-productTotalPrice){
    vertical-align: middle;
    text-align: center;
}
:global(.vtex-my-orders-app-3-x-productTable) thead th{
    color: #182841;
}
:global(.vtex-my-orders-app-3-x-productTable) thead th:last-child{
    text-align: center;
}