:global(.vtex-flex-layout-0-x-flexCol--estaticasti) :global(.vtex-flex-layout-0-x-flexColChild--estaticasti):nth-child(4){
  margin-top:  20px;
}

.label  {
  text-transform: capitalize;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: #808080;
  font-size: 12px;
}
.label:hover {
  text-decoration: underline;
}
:global(.vtex-flex-layout-0-x-flexColChild--headerItem) .container :global(.vtex-button):hover{
  background: transparent;
}
.container :global(.vtex-button__label ){
  padding: 0 19px 0 22px!important;
  border-right: 2px solid #8fbeef;
  max-height: 23px;
}
.label::before  {
  content: "";
  background: url(https://coexitob2b.vtexassets.com/arquivos/userBllueCoexito.png) no-repeat;
  background-size: 100%;
  font-size: 10px;
  display: block;
  width: 18px;
  height: 21px;
  margin-top: 0;
  transition: all 40ms;
  margin-right: 5px;
}
.loginOptionsContainer{
  display: none;
}

:global(.vtex-orderquote-1-x-containerView) :global(.vtex-pageHeader__title) {
  width: 100%;
  text-align: center;
  font-size: 0;
  display:
  flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  text-transform: uppercase;
}
:global(.vtex-orderquote-1-x-containerView) :global(.vtex-pageHeader__title)::before {
  content: "Productos Cotizados";
  font-size: 30px;
  width: 100%;
}
:global(.vtex-orderquote-1-x-field) span{
  font-size: 13px;
}
:global(.vtex-orderquote-1-x-buttonPrint) :global(.vtex-button){
  background: white;
}
:global(.vtex-orderquote-1-x-buttonPrint) :global(.vtex-button):hover :global(.vtex-button__label){
  background-color: #d3d3d3 !important;
}
:global(.vtex-orderquote-1-x-containerFields) img{
  width: 21%;
  height: auto;
}
:global(.vtex-orderquote-1-x-currencyContainer){
  font-size: 15px;
}
:global(.vtex-orderquote-1-x-field) {
  font-size: 12px;
}
:global(.vtex-pageHeader__title){
  text-align: center;
  text-transform: uppercase;
  font-size: 27px;
}
:global(.vtex-orderquote-1-x-totalizerContainer){
  background: white;
}
:global(.vtex-textarea__label) {
  color: #3f3f40;
  font-size: .875rem;
}
:global(.vtex-orderquote-1-x-containerCreate) :global(.vtex-table__container){
  background: white;
  border-radius: 5px;
  border: 1px solid #d3d3d3;
  overflow-x: hidden;
}
:global(.vtex-orderquote-1-x-buttonSave) :global(.vtex-button__label){
  font-size: 12px;
    padding: 5px 30px;
}
:global(.vtex-orderquote-1-x-buttonSave) :global(.vtex-button){
  margin-left: 10px;
}
:global(.vtex-orderquote-1-x-containerCreate) > div:last-child > div {
  padding: 0;
}
:global(.vtex-orderquote-1-x-containerCreate) :global(.vtex-input-prefix__group){
  border-color: #004D9D !important;
}
:global(.vtex-orderquote-1-x-containerCreate) :global(.vtex-textarea__input){
  border-color: #004D9D !important;
}
:global(.vtex-orderquote-1-x-containerView) :global(.vtex-pageHeader__title)::after {
  content: "";
  width: 20%;
  height: 3px;
  background: #ed6b10;
  margin-left: -8%;
  position: absolute;
  top: 100%;
}
@media (max-width: 1400px) {
  :global(.vtex-orderquote-1-x-containerView) :global(.vtex-pageHeader__title)::after {
    margin-left: -11%;
  }
}
@media (max-width: 1300px) {
  :global(.vtex-orderquote-1-x-containerView) :global(.vtex-pageHeader__title)::after {
    margin-left: -16%;
  }
}
:global(.vtex-orderquote-1-x-containerView) :global(.vtex-table__container) {
  background: white;
  /* padding: 0 5px; */
  border: 1px solid #d3d3d3;
  border-radius: 5px;
  margin: 29px 0;
}
:global(.vtex-orderquote-1-x-buttonUse) :global(.vtex-button):hover :global(.vtex-button__label) {
  color: #072c75;
}
:global(.vtex-orderquote-1-x-containerList) :global(.vtex-table__container) {
  background: white;
  border: 1px solid #e3e4e6;
  border-radius: 5px;
}
:global(.vtex-orderquote-1-x-printingArea) {
  margin: 0 0 80px 0;
}

:global(.vtex-orderquote-1-x-buttonUse) :global(.vtex-button .vtex-button__label) {
  color: transparent;
  background-image: url(https://coexitob2b.vteximg.com.br/arquivos/heroicons-outline_shopping-cart.png);;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 70%;
  width: 50px;
  height: 50px;
  border: 1px solid #363636;
  border-radius: 4px;
}
:global(.vtex-orderquote-1-x-buttonUse) :global(.vtex-button):hover {
  background: #363636;
}
:global(.vtex-orderquote-1-x-buttonUse) :global(.vtex-button):hover :global(.vtex-button__label) {
  color: transparent;
}

:global(.vtex-orderquote-1-x-buttonPrint) :global(.vtex-button) :global(.vtex-button__label) {
  color: transparent;
  background-image: url(https://coexitob2b.vteximg.com.br/arquivos/impresora-normal.png);;;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 70%;
  width: 50px;
  height: 50px;
  border: 1px solid #363636;
  border-radius: 4px;
}
:global(.vtex-orderquote-1-x-buttonPrint) :global(.vtex-button:hover) {
  background: #363636;
}
:global(.vtex-orderquote-1-x-buttonPrint) :global(.vtex-button):hover :global(.vtex-button__label) {
  color: transparent;
  background-image: url(https://coexitob2b.vteximg.com.br/arquivos/impresora-hover.png);
  background-color: #363636;
  border-color: #363636;
}


:global(.vtex-orderquote-1-x-buttonDelete) :global(.vtex-button) :global(.vtex-button__label) {
  color: transparent;
  background-image: url(https://coexitob2b.vteximg.com.br/arquivos/basura-nor.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 70%;
  width: 50px;
  height: 50px;
  border: 1px solid #363636;
  border-radius: 4px;
}
:global(.vtex-orderquote-1-x-buttonDelete) :global(.vtex-button):hover {
  background: #363636;
}
:global(.vtex-orderquote-1-x-buttonDelete) :global(.vtex-button):hover :global(.vtex-button__label) {
  color: transparent;
  background-image: url(https://coexitob2b.vteximg.com.br/arquivos/basura-hover.png);
  background-color: #e52828;
  border-color: #e52828;
}
:global(.vtex-orderquote-1-x-totalizerContainer) > div > div div{
  border-color: #d3d3d3 !important;
}

:global(.vtex-orderquote-1-x-totalizerContainer) > div > div{
  border-color: #d3d3d3 !important;
}

:global(.vtex-orderquote-1-x-buttonUse) :global(.vtex-button) {
  border: none;
}

:global(.vtex-flex-layout-0-x-flexRowContent--formRegistroInputs) :global(.vtex-flex-layout-0-x-stretchChildrenWidth):nth-child(9){
  width: 100% !important;
}









@media (max-width: 900px) {

  .contentFormVisible :global(.vtex-input-prefix__group) {height: 45px !important;border: 1px solid #004d9d;}

  .formTitle {color: gray;}

  .contentForm.contentFormVisible {min-width: 100%;}

  .dontHaveAccount {font-size: 12px;}

  .forgotPasswordLink {font-size: 12px;}

  .label  {
    font-size: 0;
    padding: 0;
  }
  .label::before{
    width: 27px;
    height: 35px;
    background: url(https://coexitob2b.vteximg.com.br/arquivos/usuario-mobile.png) no-repeat;
    background-size: 100%;
    margin-right: 0;
    display: block;
  }
  .container :global(.vtex-button__label ){
    padding: 0 5px !important;
    border-right: 0;
  }
  .profile{
    width: 18px;
    height: 35px;
    background: url(https://coexitob2b.vteximg.com.br/arquivos/usuario-mobile.png) no-repeat;
    background-size: 100%;
    margin-right: 0;
    display: block;
    font-size: 0 !important;
  }
}
.formTitle {padding: 0;margin: 0 0 19px 0;}


.content.content--emailAndPassword.contentAlwaysWithOptions {margin: 0;padding: 0;}

.sendButton :global(.vtex-button){
  background: #004D9D;
  height: 44px;
}
.sendButton :global(.vtex-button):hover span{
  color: black !important;
}
.sendButton :global(.vtex-button__label) span{
  text-transform: uppercase;
}

.formSubmitButton :global(.vtex-button){
  background: #004D9D;
  height: 44px;
}

.formSubmitButton :global(.vtex-button):hover span{
  color: black !important;
}
.formSubmitButton :global(.vtex-button) span{
  text-transform: uppercase;
}

:global(.vtex-flex-layout-0-x-flexColChild--Submenu):nth-child(2){
  position: absolute;
  bottom: 39px;
  height: auto!important;
  z-index: -1;
  display: flex;
  width: 100%;
  justify-content: center;
}
.contentForm.contentFormVisible {min-width: 100%;}

.contentForm.contentFormVisible {padding: 0;}

:global(.vtex-orderquote-1-x-containerCreate) :global(.vtex-pageHeader__title)::after{
  content: "";
  background: #ED6B10;
  width: 170px;
  height: 3px;
  margin-left: 38.3%;
  display: block;
}

:global(.vtex-table__container) div div{
  white-space: break-spaces;
} 
:global(.vtex-orderquote-1-x-itemSkuName){
  display: none;
}
:global(.vtex-orderquote-1-x-itemName){
  font-size: 12px;
}
:global(.vtex-orderquote-1-x-containerCreate){
  margin-bottom: 50px !important;
}
@media (max-width: 900px) {
  :global(.vtex-orderquote-1-x-containerCreate){
    padding: 0 20px !important;
  }
  :global(.vtex-orderquote-1-x-containerView){
    padding: 0 20px !important;
  }
  :global(.vtex-orderquote-1-x-containerView) :global(.vtex-pageHeader__title)::before{
    content: "Productos Cotizados";
    font-size: 18px;
    width: 100%;
  }
}
@media (max-width: 600px) {
  :global(.vtex-orderquote-1-x-containerView) :global(.vtex-pageHeader__title)::after{
    margin-left: -53.5%!important;
  }
  :global(.vtex-orderquote-1-x-containerFields) img{
    width: 66% !important;
    height: auto;
  }
  :global(.vtex-orderquote-1-x-containerView) :global(.vtex-pageHeader__title){
    font-size: 0 !important;
  }
  :global(.vtex-orderquote-1-x-containerList) :global(.vtex-orderquote-1-x-listContainer){
    margin-bottom: 35px;
    margin-top: 17px;
  }
}